#shop-filters-wrapper {
    background: #fcfbe3;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    position: relative;
}
#section-filters {
    position: relative;
}
#section-filters h1 {
    text-transform: capitalize;
}
section {
    padding: 20px 0;
    margin: 7px 0;
}
section h1 {
    font-size: 20px;
    font-weight: 600;
}
#table-cart {
    border: 1px solid #333;
    width: 100%;
}
#table-cart th,
#table-cart td {
    padding: 5px 7px;
    border-left: 1px solid #333;
}
#table-cart th {
    font-weight: 700;
}
#table-cart th:nth-of-type(3),
#table-cart th:nth-of-type(4),
#table-cart th:nth-of-type(5) {
    width: 100px;
    text-align: center;
}
#table-cart tbody tr {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
#form-add-to-cart button[type="submit"] {
    width: 150px;
    margin: 0;
    border: 1px solid #9f0808;
    background: #9f0808;
    color: #fff;
    padding: 9px 10px;
    position: relative;
    top: -1px;
    left: 164px;
    cursor: pointer;
}
#table-cart img {
    width: 200px;
}
#table-cart input[type="text"] {
    width: 25px;
    padding: 10px 15px;
    text-align: center;
    display: block;
    margin: 0 auto;
}
#table-cart a[href="#"] {
    color: #9f0808;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 15px;
    display: block;
    text-align: center;
}
#table-cart a[href="#"]:hover {
    text-decoration: underline;
}
#section-details div {
    padding: 15px 0;
    position: relative;
}
#section-details button[type="button"] {
    position: absolute;
    right: 0;
    border: 1px solid #9f0808;
    background: #9f0808;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    width: 170px;
    font-size: 18px;
}
#section-details button[type="button"]:hover {
    background: red;
    border: 1px solid red;
}