section {
    padding: 20px 0;
}
section h1 {
    font-size: 20px;
    font-weight: 600;
}
#section-top-sellers ul {
    list-style-type: none;
}
#section-top-sellers li {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 25px;
    height: 400px;
    background: red;
}