section {
    padding: 20px 0;
}
section h1 {
    font-size: 20px;
    font-weight: 600;
}
#section-top-sellers ul {
    list-style-type: none;
}
#section-top-sellers li {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 25%;
    height: 350px;
}
#section-top-sellers li:first-of-type {
    margin: 0;
}
#section-top-sellers li div {
    width: 90%;
    height: 250px;
    margin: 25px auto 0;
}
#section-top-sellers li div img {
    width: 250px;
    height: 250px;
}