section {
    padding: 20px 0;
    margin: 7px 0;
}
section h1 {
    font-size: 20px;
    font-weight: 600;
}
#section-top-sellers ul {
    list-style-type: none;
}
#section-top-sellers li {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 25%;
    height: 350px;
}
#section-top-sellers li:first-of-type {
    margin: 0;
}
#section-top-sellers li div {
    width: 90%;
    height: 250px;
    margin: 25px auto 0;
    font-size: 16px;
}
#section-top-sellers li div img {
    width: 250px;
    height: 250px;
}
#section-top-sellers div p {
    padding: 3px 0;
}
.product-name {
    font-weight: 700;
}
#section-top-sellers .fa-star {
    color: #ccc;
}
#section-top-sellers .fa-star.highlight {
    color: #4cff00;
}
#coupon-block {
    background: #efeee2;
}
#coupon-block div {
    width: 1100px;
    height: 250px;
    margin: 25px 0 25px 50px;
    border: 2px solid #9f0808;
}
#coupon-block h1 {
    font-size: 32px;
    padding: 20px 0 10px;
    text-align: center;
    color: #9f0808;
}