#page-header {
    width: 100%;
    display: block;
    position: relative;
}
#page-header {
    height: 100px;
}
.container {
    width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    height: inherit;
}
#jumbotron {
    width: 100%;
    height: 400px;
    background-image: url('/imgs/jumbotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
#page-header a h1,
#page-header a:link h1,
#page-header a:active h1,
#page-header a:visited h1 {
    color: #333;
    font-family: 'Orbitron', sans-serif;
    font-size: 22px;
    text-decoration: none;
    top: 30px;
    left: 15px;
}
#page-header a img,
#page-header a h1 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    position: relative;
}
#page-header a img {
    margin: 0;
    top: 15px;
}
#page-header .container > a,
#page-header .container > nav {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: -4px;
}
#page-header > a {
    margin: 0;
}
#page-header nav ul {
    list-style-type: none;
}
#page-header nav ul li {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
}
#page-header nav ul li:first-child {
    margin: 0;
}
#page-header nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: #333;
    display: inline-block;
    padding: 0 15px;
    border-left: 1px solid #333;
}
#page-header nav li:first-child a {
    border: none;
}
#page-header nav a:hover {
    text-decoration: underline;
}