#page-header,
#page-nav {
    width: 100%;
    display: block;
    position: relative;
}
#page-header {
    height: 100px;
}
#page-nav {
    height: 40px;
    background-color: #ccc;
}
.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}