body,
p,
div,
li,
a {
    line-height: 1.2em;
}
#page-header {
    width: 100%;
    display: block;
    position: relative;
}
#page-header {
    height: 80px;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    height: inherit;
}
#jumbotron {
    width: 100%;
    height: 400px;
    background-image: url('/imgs/jumbotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
#page-header a h1,
#page-header a:link h1,
#page-header a:active h1,
#page-header a:visited h1 {
    color: #333;
    font-family: 'Orbitron', sans-serif;
    font-size: 22px;
    text-decoration: none;
    top: 25px;
    left: 15px;
}
#page-header a img,
#page-header a h1 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    position: relative;
}
#page-header a img {
    margin: 0;
    top: 10px;
}
#page-header .container > a,
#page-header .container > nav {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: -4px;
}
#page-header > a {
    margin: 0;
}
#page-header nav ul {
    list-style-type: none;
}
#page-header nav ul li {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
}
#page-header nav ul li:first-child {
    margin: 0;
}
#page-header nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Abel", sans-serif;
    font-weight: 700;
    color: #333;
    display: inline-block;
    padding: 0 15px;
    letter-spacing: 1px;
}
#page-header nav:first-of-type,
#page-header nav:last-of-type {
    top: 26px;
}
#page-header nav:first-of-type {
    left: 225px;
}
#page-header nav:last-of-type {
    left: 400px;
}
#page-header nav:last-of-type a {
    padding: 0 7px;
    font-weight: 500;
}