<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="rule 1V" stopProcessing="true">
					<match url="^([^/]+)(?:/([^/]+)|)(?:/([^/]+)|)"  />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
					<action type="Rewrite" url="/index.php?ctrl={R:1}&amp;method={R:2}&amp;param={R:3}"  appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
  <location path="Orion">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>